<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
    <<h1>Cart Data</h1>
    <table>
        <tr>
          <th>Product Name</th>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Price</th>
          
        </tr>
        <% details.forEach((item) => { %>
          <tr>
            <td><%- item.product_name %></td>
            <td><%- item.product_id %></td>
            <td><%- item.quantity %></td>
            <td><%- item.product_price %></td>
          </tr>
        <% }); %>
        <th> </th>
        <th> </th>
        <th> </th>
        <td>Grand Total: <%-  grandtotal %></td>
      </table>
      
</body>
</html>